.navBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 500px;
  position: sticky;
  top: 0;
  min-height: 50px;
  background: radial-gradient(circle at left, #fcddff, #ffffff);
  z-index: 10;

  .mainLogo {
    max-width: 100px;
  }
}

.navListItem {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.listContainer {
  align-self: center;
}

.navListItem{
  direction: none;
}

.cartIcon{
  color: rgb(255, 0, 200);
  font-size: 30px;
}

.cartCount{
  position: absolute;
  bottom: 24px;
  right: -20px;
  background-color: #fcddff;
  border-radius: 50%;
  padding-block: 4px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
}

.navList{
  display: flex;
  gap: 100px;
  align-self: center;
  position: relative;
}